<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Список сотрудников</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Очество</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var person in Model)
            {
            <tr>
                <td>@person.Id</td>
                <td>@person.LastName</td>
                <td>@person.FirstName</td>
                <td>@person.MiddleName</td>
            </tr>
            }
            </tbody>
</table>
</body>
</html>
